
.ipynb_checkpoints/analysis-checkpoint.ipynb
.virtual_documents/analysis.ipynb
.virtual_documents/Untitled.ipynb
.DS_Store
transcriptomics/deseq2_pipeline/.ipynb_checkpoints/pattern_finder-checkpoint.ipynb
transcriptomics/deseq2_pipeline/.Rhistory
transcriptomics/deseq2_pipeline/.virtual_documents/pattern_finder.ipynb
